@model EXFIN.Models.CursoClass

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CursoClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_CATEDRATICO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CATEDRATICO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APROVADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APROVADO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
